@import url(https://fonts.googleapis.com/css?family=FugazOne);

.Background{
    background-image: url("../Assets/bgtexture.jpg");
    background-size: 31%;
    background-repeat: repeat;
}

.FullWidth{
    /* background-size:100vw; */
    justify-content: left;
}

.NavbarText{
    padding-left: 12px;
    margin-top: -15px;
}

.Even{
    justify-content: space-evenly;
}

.Fugaz{

    font-family: 'Fugaz';
    color: #5F002B;
}

@font-face {
    font-family: Fugaz;
    src: url(../Fonts/FugazOne-Regular.ttf);
}

/* This is for the Second Page: About Us Section */

.AboutMainColor{

    background-color: #FFFF;
    text-align: left;
    font-size: 20px;
    word-spacing: 22;
    
    
}
.AboutMainHeader{
    font-size: 50px;
}

.AboutMainPhoto{
    height: 674.5px;
    width: 674.5px;

}

.padding1{

    padding-left: 140px;
    padding-right: 140px;
    
}

.padding2{
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 64px;
    padding-bottom: 144px;

}

/* This for the Second Page: THE TEAM Section*/

.centerText1{
    text-align: center;

}

.OurTeamColor{

    background-color: #FFFF;
}

.centerCard{

    align-items: center;
}